/* @ fonts */

@font-face {
    font-family: ArabicFont;
    src: url(./Tajawal-Black.ttf);
    src: url(./Tajawal-Bold.ttf);
    src: url(./Tajawal-ExtraBold.ttf);
    src: url(./Tajawal-ExtraLight.ttf);
    src: url(./Tajawal-Light.ttf);
    src: url(./Tajawal-Medium.ttf);
    src: url(./Tajawal-Regular.ttf);
}

/* @ main page  */
* {
    font-family: "ArabicFont";
}



body {
    background-color: aliceblue;
    width: fit-content;
    padding: 0;
    margin: 0;
}

/* ? display of content */
.mainPaper {
    position: relative;
    z-index: -1;
    height: fit-content;
}

.paperCont {
    display: grid;
    width: 1587px;
    padding: 350px 100px 0;
}

.theContent {
    position: absolute;
    top: 0;
}

.titleCont,
.sendToCont,
.greetCont,
.messCont,
.closingCont,
.stampCont {
    display: flex;
    padding: 0;
}

/* ? directions and other style */
.titleCont {
    justify-content: center;
}

.sendToCont {
    justify-content: right;
}

.greetCont {
    justify-content: center;
}

.messCont {
    justify-content: right;
}

.closingCont {
    justify-content: left;
    padding-left: 75px;
}

.stampCont {
    flex-direction: column;
    align-items: flex-end;
}

/* .titleCont h1 {
    font-weight: 900;
    font-size: 85px;
}

.sendToCont h2 {
    font-weight: 900;
    font-size: 50px;
    text-align: right;
}

.greetCont h3 {
    font-weight: 900;
    font-size: 45px;
}

.messCont p {
    font-weight: 500;
    font-size: 37px;
    text-align: right;
}

.closingCont h3 {
    font-weight: 900;
    font-size: 45px;
}
*/    

.legalizations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 1vh;
    font-size: 17px;
    height: 35px;
    width: 75px;
}

@media print {

    body * {
        visibility: hidden;
    }


    .mainPaper * {
        visibility: visible;
        /* -webkit-print-color-adjust: exact; */
    }

    body :not(.mainPaper *) {
        display: none;
    }

    .mainPaper {
        display: block !important;
        width: 100%;
        margin:  -5px 0 0;
        padding: 0;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .mainPaper img{
        image-rendering: pixelated;
        image-rendering: high-quality;  
    }

    /*
    body *{
        display: none;
        width: 21cm;
        height: 29.7cm;
        margin: 0;
        padding: 0;
    }  .mainPaper {
        display: block;
        width: 210mm;
        height: 297mm;
        -webkit-print-color-adjust: exact;
    }*/
}

/* @ main app */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.mainCont {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 91vh;
}

.textarea {
    display: block;
    width: 70vw;
    overflow: hidden;
    resize: none;
    min-height: 5vh;
    line-height: 2vh;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    background-color: white;
    border: #1c2e41 solid 1px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    margin-bottom: 0.5vh;
}

/* secuirty */

.weakPass{
    color: transparent;
    background: black;
    position: fixed;
    width: 150vw;
    height: 150vh;
    z-index: 100;
}

.weakQ{
    display: flex;
    color: transparent;
    background: rgb(0 124 212);
    position: fixed;
    top: 35vh;
    right: 20vw;
    width: 55VW;
    height: 40VH;
    border-radius: 20px;
    z-index: 101;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weakQ h3{
    color: azure;
}
.weakQ #passValue{
    background-color: azure;
    color: rgb(0, 0, 0);
    resize: none;
    width: 29vw;
    height: 5vh;
}
.weakQ #passBtn{
    background-color: azure;
    color: rgb(0, 0, 0);
    border: none;
}
