/* @ fonts */

@font-face {
    font-family: ArabicFont;
    src: url(./Tajawal-Black.ttf);
    src: url(./Tajawal-Bold.ttf);
    src: url(./Tajawal-ExtraBold.ttf);
    src: url(./Tajawal-ExtraLight.ttf);
    src: url(./Tajawal-Light.ttf);
    src: url(./Tajawal-Medium.ttf);
    src: url(./Tajawal-Regular.ttf);
}

/* @ main page  */
* {
    font-family: "ArabicFont";
}



body {
    background-color: #795548;
    padding: 0;
    margin: 0;
}

/* ? display of content */
.mainPaper {
    position: relative;
    z-index: -1;
    height: fit-content;
}

.paperCont {
    display: grid;
    width: 1587px;
    padding: 350px 100px 0;
}

.theContent {
    position: absolute;
    top: 0;
}

.titleCont,
.sendToCont,
.greetCont,
.messCont,
.closingCont,
.stampCont {
    display: flex;
    padding: 0;
}

/* ? directions and other style */
.titleCont {
    justify-content: center;
}

.sendToCont {
    justify-content: right;
}

.greetCont {
    justify-content: center;
}

.messCont {
    justify-content: right;
}

.closingCont {
    justify-content: left;
    padding-left: 75px;
}

.stampCont {
    flex-direction: column;
    align-items: flex-end;
}

/* .titleCont h1 {
    font-weight: 900;
    font-size: 85px;
}

.sendToCont h2 {
    font-weight: 900;
    font-size: 50px;
    text-align: right;
}

.greetCont h3 {
    font-weight: 900;
    font-size: 45px;
}

.messCont p {
    font-weight: 500;
    font-size: 37px;
    text-align: right;
}

.closingCont h3 {
    font-weight: 900;
    font-size: 45px;
}
*/

.legalizations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 1vh;
    font-size: 17px;
    height: 35px;
    width: 75px;
}

.mainCont h5 {
    margin: 1vh 0;
    color: #ffe4c0;
    font-size: 23px;
    text-align: center;
}

.mainCont .checkBoxes h5 {
    width: fit-content;
    text-align: right;
}

button:last-of-type {
    margin: 1vh auto 1vh;
    background-color: #ffd59d;
    width: 100px;
    height: 45px;
    color: #795548;
    font-weight: 900;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

.checkBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
    height: 7vh;
    align-items: center;
}

.checkBoxes input {
    width: 3.5vw;
    margin-right: 5vw;
}

@media print {

    body * {
        visibility: hidden;
    }


    .mainPaper * {
        visibility: visible;
        /* -webkit-print-color-adjust: exact; */
    }

    body :not(.mainPaper *) {
        display: none;
    }

    .mainPaper {
        display: block !important;
        position: absolute;
        width: 100%;
        margin: -5px 0 0;
        padding: 0;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .mainPaper img {
        image-rendering: pixelated;
        /* image-rendering: high-quality;   */
    }

    /*
    body *{
        display: none;
        width: 21cm;
        height: 29.7cm;
        margin: 0;
        padding: 0;
    }  .mainPaper {
        display: block;
        width: 210mm;
        height: 297mm;
        -webkit-print-color-adjust: exact;
    }*/
}

/* @ main app */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.mainCont {
    display: grid;
    /* justify-items: center; */
    align-items: center;
    min-height: 91vh;
}

.textarea {
    display: block;
    width: 77vw;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    min-height: 5vh;
    line-height: 2vh;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(70 79 131);
    background-color: white;
    border: none;
    outline: none;
    padding: 1vh 1vw;
    margin-bottom: 0.5vh;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
}

.textarea:hover,
.textarea::selection,
textarea:active {
    border: none;
    outline: none;
}


/* secuirty */

.weakPass {
    color: transparent;
    background: black;
    position: fixed;
    width: 150vw;
    height: 150vh;
    z-index: 100;
}

.weakQ {
    display: flex;
    color: transparent;
    background: #2196f3;
    position: fixed;
    top: 31vh;
    right: 18vw;
    width: 65vw;
    height: 30vh;
    border-radius: 20px;
    z-index: 101;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.weakQ h3 {
    color: azure;
    font-size: 21px;
}

.weakQ #passValue {
    background-color: azure;
    width: 29vw;
    height: 3vh;
    padding: 1.5vh 4vw;
    margin-bottom: 2vh;
    border-radius: 7px;
    text-align: center;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 2vh;
    overflow: hidden;
    font-weight: 900;
    resize: none;
}

.weakQ #passBtn {
    background-color: azure;
    color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 1.5vh;
}

/* responsive desgin */
@media (max-width: 320px) {
    .mainCont h5 {
        font-size: 14px;
    }
}


input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: auto 4vw;
    color: currentColor;
    border: none;
    height: 4vh;
    width: 4vh;
    font: inherit;
    border-radius: 50%;
    transform: translateY(-0.075em);
    -webkit-transform: translateY(-0.075em);
    -moz-transform: translateY(-0.075em);
    -ms-transform: translateY(-0.075em);
    -o-transform: translateY(-0.075em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.form-control+.form-control {
    margin-top: 1em;
}

input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.5vh;
    height: 1.5vh;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
input[type="checkbox"]::before {
    /* ...existing styles */
  
    /* Windows High Contrast Mode */
    background-color: #997265;
  }

  input[type="checkbox"]::before {
    /* ...existing styles */
  
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
